*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
*/target/**
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.DS_Store
data/.DS_Store
.idea/
manifest.json
data/vendor
composer.lock
data/creatBatchEvent.py
data/my_events.json
